.main {
    background-color: rgba(0, 0, 0, 0.7);
}

.body {
    padding: 30px;
    text-align: center;
}

.text {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}