.main {
    background-color: rgba(0, 0, 0, 0.7);
}

.body {
    padding: 30px;
    text-align: center;
}

.text {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}


@media (min-width: 768px) and (max-width: 988px) {
    .body {
        padding: 25px 7px;
    }
}

@media (min-width: 575.98px) and (max-width: 767px) {
    .body {
        padding: 20px 0px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    .body {
        padding: 20px 10px;
    }

}