/* .head {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
        -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    background: rgba(255, 255, 255, 0.96);
    z-index: 9999999;
} */

.main {
    padding: 15px 15px;
    position: relative;
}

.navbar {
    position: absolute;
    right: 20px;
    top: 28px;
}

.nav {
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 10px 20px;
    position: relative;
    transition: all linear 0.3s;
}

.nav:hover {
    color: #fff;
    z-index: 1;
}

.nav::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #5C6265;
    visibility: none;
    opacity: 0;
    z-index: -1;
    transition: ease all 0.5s;
}

.nav:hover::after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

@media (min-width: 989px) and (max-width: 1024px) {
    .logo {
        padding-top: 10px;
        height: 60px;
        width: 520px;
    }
}


@media (min-width: 768px) and (max-width: 988px) {
    .logo {
        padding-top: 10px;
        height: 50px;
        width: 450px;
    }

    .navbar {
        position: sticky;
        margin-top: 10px;
        width: 100%;
    }

    .nav {
        font-weight: 700;
    }

    .nav:hover::after {
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
}

@media (min-width: 575.98px) and (max-width: 767px) {

    .logo {
        height: 50px;
        width: 450px;
    }

    .navbar {
        position: sticky;
        margin-top: 10px;
        width: 100%;
    }

    .nav {
        font-weight: 700;
    }

    .nav:hover::after {
        opacity: 0;
        visibility: hidden;
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    .logo {
        height: 40px;
        width: 275px;
    }

    .navbar {
        position: sticky;
        width: 100%;
    }

    .nav {
        font-weight: 700;
    }

    .nav:hover::after {
        opacity: 0;
        visibility: hidden;
    }
}