.head {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    color: #94060B;

}

.cardMain {
    margin: 20px 0px;
    padding: 10px 10px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

.cardHead {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    padding: 10px 0px;

}

.cardBody {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .cardBody {
        height: 6vh;
    }
}

@media (min-width: 575.98px) and (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 575px) {

    .body {
        padding: 20px 10px;
    }

}